<li>
    <div class="card">
        <img [src]="recipe.strMealThumb" class="card-image" alt="{{'Picture of' + recipe.strMeal}}" />
        <div class="card-overlay">
            <div class="card-header">
                <div class="card-svg card-arc"></div>
                <div class="card-header-text">
                    <h4 class="card-title">{{ recipe.strMeal }}</h4>
                    <span class="card-infos">{{ recipe.strCategory}} - {{ recipe.ingredientCount }} ingredients</span>
                </div>
            </div>
            <div class="d-flex justify-content-center my-4">
                <button routerLink="{{ '/recipe/' + recipe.idMeal }}" class="btn btn-outline-dark">See more</button>
                <app-list-buttons [recipe]="recipe"></app-list-buttons>
            </div>
        </div>
    </div>
</li>