<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">
      <img src="assets/img/logo.png"> Perfect Recipe
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Recipies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="favorites">Favorites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="toTest">Recipes to test</a>
        </li>
      </ul>
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>

<main [@fadeAnimation]="prepareRoute(outlet)" class="main-container">
  <router-outlet #outlet="outlet"></router-outlet>
</main>

<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <div class="container p-4">
    <div class="row">
      <section class="col-md-6">
        <h4>About Us</h4>
        <p>This project was developped during a coding interview</p>
      </section>
      <section class="col-md-6">
        <h4>Follow me</h4>
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/nmurillon"><fa-icon [icon]="faGithub"></fa-icon></a>
      </section>
    </div>
  </div>
</footer>