/* You can add global styles to this file, and also import other style files */

.site-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
}