<div class="container">
    <h1 class="text-center">Welcome to Perfect Recipe !</h1>
    <h2 class="text-center">The best place on Earth to find your next meal</h2>
    <div class="container-fluid container mt-4">
        <h4>In order to help you choose, here are 10 random recipes</h4>

        <form [formGroup]="recipeForm">
        
            <label for="category">Sort by Category: </label>
            <input id="category" type="checkbox" formControlName="category">
        
            <label for="recipe-name">Name: </label>
            <input id="recipe-name" type="text" formControlName="name">
        
            <button type="submit" class="btn btn-success" (click)="onSearch()">Search</button>
        </form>

        <div class="container d-flex row">
            <div class="card m-4 mw-45" *ngFor="let meal of meals">
                <div class="card-body">
                    <div>
                        <img [src]="meal.strMealThumb" class="card-img-top" alt="{{'Picture of' + meal.strMeal}}">
                        <div class="text-center">
                            <h4 class="fw-bold">{{ meal.strMeal }}</h4>
                            <p class="card-text">{{ meal.strCategory}} - {{ meal.ingredientCount }} ingredients</p>
                        </div>
                        <a class="btn btn-dark" routerLink="{{ '/recipe/' + meal.idMeal }}">Recipe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>