<!-- TODO : Need to rework the way card are displayed -->

<div class="container">
    <h1 class="text-center">Welcome on Perfect Recipe !</h1>
    <h2 class="text-center">The best place on Eath to find your next meal</h2>
    <div class="container-fluid container mt-4">
        <h4>In order to help you choose, here are 10 random recipes</h4>
        <div class="container">
            <div class="card" *ngFor="let meal of meals">
                <div class="card-header">
                    <img [src]="meal.strMealThumb">
                </div>
                <div class="card-body">
                    <h4>{{ meal.strMeal }}</h4>
                    <p>{{ meal.strCategory}} - {{ meal.ingredient_count }} ingredients</p>
                </div>
            </div>
        </div>
    </div>
</div>